@inherits LayoutComponentBase

<div class="page">
    <header class="app-header">
        <a class="app-brand" href="/" aria-label="Hjem">
            <img class="app-logo" src="images/org-logo.png" alt="Logo" />
        </a>
    </header>
    <main>
        @Body
    </main>
</div>
